div{
	width:400px;
	border:solid orange 1px;
	margin:auto;
	height:500px;
	overflow:scroll;
}

input{
	display:block;
	width:400px;
	height:20px;
	border:1px dashed brown;
	margin:auto;
}

button{
	display:block;
	margin:auto;
	color:"black";
	border:1px solid blue;
}
